.blogroll-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1em;
}
.blogroll-grid .card {
  display: flex;
  flex: 1 1 400px; /*  Stretching: */
  margin: 1em;
  border: 5px $red solid;
  padding: 1em;
  overflow-x: none;
  .title {
    font-size: 2em;
    display: block;
    text-decoration: none;
  }
  .date {
    font-size: 1rem;
  }
  img {
    border-radius: 0;
  }
}

// media sizing for blogroll grid
@include media(">small") {
  .blogroll-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      flex: 1 1 400px; /*  Stretching: */
      margin: 1em;
    }
    .card.featured {
      flex: 1 1 600px; /*  Stretching: */
    }
  }
}
