// typography

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h1 {
  margin: 0.67rem 0;
}

// desktop font sizing
@include media(">medium") {
  h1.heading {
    font-size: 3em;
  }
}
