// general colors
$red: #ec1212;
$dark: #141414;
$gray: #3d3d3d;
$white: #ffff;

// sections and components
$background: black;
$card-background: black;
$alert-bar-background: red;
$footer-background: black;
